
{% extends 'base.html' %}
{% block title %}Заказы{% endblock %}
{% block header %}Последние заказы:{% endblock %}


{% block content %}
    {% load static %}
    {% load human_readable_tag %}
    <script src="{% static 'js/set_status_order.js' %}"></script>
    {% for order in orders %}
<div class="row" style="margin:0px;padding:20px;">
                    {% with order.product_set.all|first as product  %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 d-xl-flex justify-content-xl-center align-items-xl-center" style="padding: 0px;background-color: rgba(109,40,170,0.19);">
                        <img class="img-thumbnail d-xl-flex justify-content-xl-center align-items-xl-center" src="{{ product.image }}" style="padding: -15px;margin: 0;">
                    </div>
                    {% endwith  %}
                    <div class="w-100 d-sm-block d-md-none d-lg-none d-xl-none"></div>
                    <div class="col" style="padding:0px;">
                        <div class="card">
                            <div class="card-body" style="height:50vh;">
                                <h4 class="card-title"><a href="{% url 'order_details' prom_id=order.prom_id %}">Заказ № {{ order.prom_id }}</a></h4>
                                <h6 class="text-muted card-subtitle mb-2">{{ order.payment_name }}</h6>

                            <form method="get" id="statusForm" >
                                {% csrf_token %}

                                <select name="status" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false" type="button" style="background-color: #4f2170; border-color: #4f2170;"
                                        required="" id="id_status">
                                {% for value, label in form_status.fields.status.choices %}
                                            <option value="{{ value  }}"{% if value == order.status %} selected{% endif %}>{{ label }}</option>
                                        {% endfor %}
                                </select>

                                <input type="hidden" value="{{ order.prom_id }}" name="prom_id" id="prom_id">
                            </form>

                                <hr>
                                <p class="card-text">{{ order.customer }}</p>
                                <p class="card-text">{{ order.customer.phone_number }}</p>
                                {% for delivery in order.delivery_set.all %}
                                <p class="card-text">{{ delivery.city }}</p>
                                <p class="card-text">Отеделение {{ delivery.post_office_number }}</p>
                                <p class="card-text">Статус доставки: {{ delivery|human_readable_delivery:delivery.status_of_delivery }}</p>
                                {% endfor %}
                                {% if order.product_set.all|length > 1 %}
                                    {% if order.product_set.all|length < 5 %}
                                <p class="alert-warning">В заказе {{ order.product_set.all|length }} товара</p>
                                    {% else %}
                                        <p class="alert-warning">В заказе {{ order.product_set.all|length }} товаров</p>
                                        {% endif %}
                                {% endif %}

                        </div>
                    </div>

                </div>
        </div>
    {% endfor %}
{% endblock %}